<header class="bg-white h-16 flex items-center shadow-md px-8 gap-x-8">
  <h1 class="flex-grow text-2xl font-semibold">{{ title }}</h1>
  <nav class="h-16 flex items-center gap-x-4 text-fuchsia-500">
    <a
      i18n="nav item|"
      class="font-medium h-16 px-2 flex items-center hover:text-fuchsia-700 border-b-2 border-transparent hover:border-fuchsia-700"
      routerLink="/"
      routerLinkActive="text-fuchsia-900"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a
      i18n="nav item|"
      class="font-medium h-16 px-2 flex items-center hover:text-fuchsia-700 border-b-2 border-transparent hover:border-fuchsia-700"
      routerLink="/timeline"
      routerLinkActive="text-fuchsia-900"
      >Timeline</a
    >
  </nav>
</header>
